
PORT=4000

PROD_FRONTEND_ORIGIN=https://your-production-domain.com

# ------------------------------------------------------
# Do not push your IP address to production or to GitHub
# ------------------------------------------------------

# IOS local development frontend origin (IOS recognises IP ADDRESS not localhost)
IOS_LOCAL_FRONTEND_ORIGIN=http://YOUR_IP_ADDRESS_GOES_HERE:5500

# local development frontend origin (localhost if not using IOS device to test)
LOCAL_FRONTEND_ORIGIN=http://localhost:5500
